@media (max-width: 992px) {
  .menu-toggle {
    display: flex;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
  }

  .header-list {
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color:
    width: 5%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 1 1 10px 10px;
    text-align: center;
    display: none;
    
  }

  #menu-toggle:checked + .header-list {
    display: flex;
    margin-inline: 5px;
    margin-top: 0px;
    gap: 05px;

  }

  .header-logo {
    display: none;
  }
}
