@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
}

.header-list {
  display: flex;
  gap: 100px;
  margin: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.logo {
  display: none;
}

a {
  color: white;
}

#menu-toggle {
  display: none;
}

.menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
}

main {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-family: "DM+Serif+Display";
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

main p {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.hero-link {
  display: flex;
  font-weight: 400;
  padding: 5px;
  font-size: large;
  background-color: rgb(71, 255, 178);
  border-radius: 50px;
  width: fit-content;
  margin-left: 200px;
  text-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.about-section {
  margin-top: 150px;
  max-width: 600px;
  text-align: center;
  font-weight: 400;
}

.about-section h2 {
  color: white;
  font-size: 30px;
  margin-top: 200px;
}

.about-section p {
  font-size: 20px;
}

.container {
  display: flex;
  gap: 10px;
  max-width: 800px;
  margin-top: 80px;
}

.cajas {
  background-color: #a88669;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex: 1 1 0;
}

.cajas img {
  width: 250px;
  height: 200px;
  border-radius: 50px;
}

.cajas h3 {
  color: rgb(19, 3, 3);
}

.container {
  display: flex;
  justify-content: center;
}

.titulo-form {
  color: white;
  margin-top: 200px;
}

.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
  color: white;
  width: 700px;
}

.datos {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: 600;
}

.mensaje {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 60px;
  font-weight: 600;
}

.datos input,
textarea {
  opacity: 40%;
}

button {
  background-color: #a88669;
  color: white;
  width: 100px;
  font-weight: 600;
}

.contacto {
  margin-top: 100px;
  display: flex;
  color: white;
  gap: 40px;
  text-align: left;
}

.contacto h2 {
  margin-bottom: 30px;
}

.redes {
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  gap: 10px;
}

footer {
  align-items: flex-end;
  margin-top: 200px;
}

footer img {
  height: 100px;
  width: 100px;
  align-items: flex-end;
}
