@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 150px;
  position: fixed;
  width: 100%;
}

.header-list {
  display: flex;
  gap: 100px;
  margin: 50px;
  color: white;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  height: 120px;
  width: 120px;
}

.logo {
  display: none;
}

a {
  color: white;
}

#menu-toggle {
  display: none;
}

.menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
}

main {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: ;
}

main h1 {
  font-family: "DM+Serif+Display";
  color: white;
  text-align: center;
  font-size: 50px;
}

main p {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.hero-link {
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding: 50px;
  font-size: large;
}
